<?xml version="1.0"?>
<packages>
    <package id="vim" />
    <package id="ctags" />
    <package id="curl" />
    <package id="wget" />
    <package id="git" />
    <package id="svn" />
    <package id="imagemagick" />
    <package id="nodejs.install" />
    <package id="cmder" />
    <package id="winmerge" />
    <package id="jdk8" />
    <package id="androidstudio" />
    <package id="android-sdk" />
    <package id="adobereader" />
    <package id="gradle" />
    <package id="visualstudiocode" />
    <package id="tortoisesvn" />
    <package id="tortoisegit" />
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="7zip.install" />
    <package id="skype" />
    <package id="sysinternals" />
    <package id="procexp" />
    <package id="inkscape" />
    <package id="thunderbird" />
    <package id="virtualbox" />
    <package id="cdburnerxp" />
    <package id="irfanviewplugins" />
    <package id="docker" />
    <package id="teraterm" />
    <package id="pdfcreator" />
    <package id="octave" />
    <package id="maxima" />
    <package id="ripgrep" />
    <package id="neovim" />
</packages>
